<!DOCTYPE html>
<!-- gonparty.twig -->
<html>
<head>
    {% include '_head.twig' %}

    <link href="//bob.pckg.derive/app/derive/src/Derive/Layout/public/css/style.less" rel="stylesheet/less"/>
    <!--[if IE]>
    <link href="//bob.pckg.derive/app/derive/src/Derive/Layout/public/css/ie.less" rel="stylesheet/less">
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,800|Montserrat:400,700|Oswald:400,700&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'><!-- Fav and touch icons -->

    <!--<link rel="icon" type="image/png" href="/app/{{ APP }}/www/img/favicon.ico?v=2" />
    <link rel="shortcut icon" href="/app/{{ APP }}/www/img/favicon.ico?v=2">-->

    <!-- IFRAME -->
    {% if MODE == 'basic' %}
        <script src="//bob.pckg.derive/app/derive/src/Derive/Layout/public/js/iframeResizer.contentWindow.min.js"></script>
    {% endif %}

    <script src="//bob.pckg.derive/app/derive/src/Derive/Layout/public/js/less.min.js"></script>
    {% if FB_CONVERSION_PIXEL != '' %}
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                    document, 'script', '//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '{{ FB_CONVERSION_PIXEL }}');
            fbq('track', "PageView");
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id={{ FB_CONVERSION_PIXEL }}&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    {% endif %}

</head>
<body id="vue-app"{% if cssPage | length %} class="{{ right | raw }}"{% endif %}>

{% if GTM != '' %}
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id={{ GTM }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{{ GTM }}');</script>
    <!-- End Google Tag Manager -->
{% endif %}

{{ prehead | raw }}

<div class="alert alert-success logout" data-dismiss="alert">{{ __('logout_successful') }}</div>

{% if true or MODE == 'full' %}
    <!-- HEADER -->
    <header class="header {% if true or homepage %}homepage{% endif %}">
        {% if true or homepage %}
            <video autoplay loop poster="//bob.pckg.derive/app/derive/src/Derive/Layout/public/img/homepage-header-background.jpg" id="homepage_video">
                <source src="//bob.pckg.derive/app/derive/src/Derive/Layout/public/img/header.mp4" type="video/mp4">
            </video>
            <div class="transparent-overlay"></div>
        {% endif %}
        <!-- HEADER MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header visible-xs">
                    <button type="button" class="menu-button navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#main-menu" aria-expanded="false">
                        {{ __('menu_title') }}
                    </button>

            <span class="login-space">
              {% if _auth.isLoggedIn() %}
                  <a class="login" href="/profile"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></a>
              {% else %}
                  <a class="login" href="#loginModal"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></a>
              {% endif %}
            </span>

                    <div class="logo">
                        <a href="/"><img src="//gonparty.eu/app/eu/www/img/logotip-mobile-menu.png"/></a>
                    </div>
                </div>

                <!-- desktop view and mobile full view -->
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav hidden-xs">
                        <li class="logo">
                            <a href="/"><img src="//gonparty.eu/app/eu/www/img/logotip-menu.png"/></a>
                        </li>
                    </ul>

                    {{ _menuService.build('frontend') | raw }}
                </div><!-- /.container-fluid -->
        </nav><!-- /.navbar-default -->

        {% if true or homepage %}
            <div class="intro">
                <h1>{{ __('dozivi_svoj_fuck_yeah_moment') }}</h1>
                <p class="hidden-xs">{{ __('dozivi_svoj_fuck_yeah_moment_subtitle') }}</p>
                <a class="button clicknscroll" href="{{ __('homepage_intro_button_url') }}"
                   title="{{ __('title_check_all_offers') }}">{{ __('btn_check_offer') }}</a>
            </div>
        {% endif %}
    </header> <!-- /HEADER -->
{% endif %}

<!-- class="default"-->
<div class="container {{ cssPage }}{% if MODE == 'basic' %} basic-mode{% endif %}" id="maincontainer">
    <div class="row">
        <div class="col-xs-12" id="leftcontent">
            {% block content %}{{ content | raw }}{% endblock %}
        </div>
        {% if right | length %}
            <div class="col-xs-12">
                {% block right %}{{ right | raw }}{% endblock %}
            </div>
        {% endif %}
    </div>
</div>

{% if not cookiesAllowed and MODE == 'full' %}
    <div class="cookie-notice">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-responsive" src="/img/cookie.png"/>
                </div>
                <div class="col-sm-7">
                    {{ __('cookie_notice') }}
                </div>
                <div class="col-sm-3">
                    <button class="button" id="zekomConfirm">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if true or not hideFooter and (true or MODE == 'full') %}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    {{ __('footer_about') }}
                </div>
                <div class="col-sm-4">
                    {{ __('footer_ask_us') }}
                    <div class="social-icons">
                        <a href="{{ SOCIAL_FACEBOOK }}" target="blank"><img src="https://gonparty.eu/media/icon-fb.png"
                                                                            alt="Facebook"
                                                                            class="img-max-responsive"></a>
                        <a href="{{ SOCIAL_INSTAGRAM }}" target="blank"><img
                                    src="https://gonparty.eu/media/icon-insta.png" alt="Instagram"
                                    class="img-max-responsive"></a>
                        <a href="{{ SOCIAL_YOUTUBE }}" target="blank"><img src="https://gonparty.eu/media/icon-yt.png"
                                                                           alt="YouTube" class="img-max-responsive"></a>
                    </div>
                </div>
                <div class="col-sm-4 column-three">
                    {{ __('footer_third_column') }}
                </div>
            </div>
            <div class="row footer-menu-badges">
                <div class="col-sm-4 col-sm-push-8 footer-badges">
                    {{ __('footer_badges') }}
                </div>
                <div class="col-sm-8 col-sm-pull-4 footer-menu">
                    {{ __('footer_menu') }}
                </div>
            </div>
            <div class="row footer-rights">
                <div class="col-xs-12">
                    {{ __('footer_design_by') }}
                </div>
            </div>
        </div>
    </footer>
{% endif %}

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1041351721;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1041351721/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- IFRAME -->
{% if MODE == 'basic' %}
    <script>
        if (top !== self) { // Check we are in an iFrame
            var interval = setInterval(function () {
                if ('parentIFrame' in window) {
                    clearInterval(interval);
                    parentIFrame.scrollTo(0, 0);
                }
            }, 32);
        }
    </script>
{% endif %}
<!-- /IFRAME -->

{% include '_foot.twig' %}

</body>
</html>