<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <base href="/app/derive/src/Gnp/Orders/View/voucher/" target="_blank">

    <style>
        @font-face {
            font-family: 'nexa';
            src: url('Nexa_Free_Bold-webfont.eot');
            src: url('Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('Nexa_Free_Bold-webfont.woff2') format('woff2'),
            url('Nexa_Free_Bold-webfont.woff') format('woff'),
            url('Nexa_Free_Bold-webfont.ttf') format('truetype'),
            url('Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'nexa';
            src: url('NexaRustSans-Black-Free-webfont.woff2');
            src: url('NexaRustSans-Black-Free-webfont.eot');
            src: url('NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
            url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
            url('NexaRustSans-Black-Free-webfont.woff') format('woff'),
            url('NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
            url('NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
            font-weight: 800;
            font-style: normal;
        }

        @font-face {
            font-family: 'nexa';
            src: url('Nexa_Free_Light-webfont.woff2');
            src: url('Nexa_Free_Light-webfont.eot');
            src: url('Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
            url('Nexa_Free_Light-webfont.woff2') format('woff2'),
            url('Nexa_Free_Light-webfont.woff') format('woff'),
            url('Nexa_Free_Light-webfont.ttf') format('truetype'),
            url('Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
            font-weight: 300;
            font-style: normal;
        }

        body {
            background-color: #FFF;
            font-family: nexa;
            font-weight: 300;
            margin: 0;
            zoom: 0.595;
            font-size: 12px;
        }

        b {
            font-weight: bold;
        }

        /* general styling */
        .gap {
            margin-bottom: 30px;
        }

        .line-break {
            background-color: #fabe45;
            height: 7px;
            width: 100%;
        }

        .clear {
            clear: both;
        }

        .link {
            color: #074b7c;
        }

        .container {
            width: 1000px;
            margin: 0 auto;
        }

        .header {
        }

        .header img {
            width: 100%;
        }

        .body {
            margin: 15px 50px;
        }

        .body .left-column {
            float: left;
            margin-right: 10%;
            width: 54%;
        }

        .basic-info {
            font-size: 18px;
        }

        .basic-info p {
            font-weight: 300;
            margin: 0;
        }

        .schedule {
            font-weight: bold;
            margin-bottom: 40px;
        }

        .schedule .title {
            font-size: 18px;
            font-weight: 800;
            margin-top: 17px;
        }

        .schedule .day-container {
            clear: both;
            margin-top: 10px;
        }

        .schedule .day {
            font-size: 11px;
            margin: 10px 0 0;
            letter-spacing: 5px;
        }

        .schedule .description {
            float: left;
            margin-right: 4%;
            width: 48%;
        }

        .schedule .time {
            float: left;
            width: 48%;
        }

        .schedule .time span {
            font-weight: 300;
        }

        .small-info {
            margin-top: 5px;
        }

        .body .right-column {
            float: left;
            width: 36%;
        }

        .voucher-id-box {
            border: 7px solid #000;
            font-size: 30px;
            font-weight: bold;
            padding: 26px 0;
            position: relative;
            text-align: center;
            width: 100%;
            margin-bottom: 36px;
        }

        .voucher-id-box .vertical-title {
            top: 40px;
            font-size: 11px;
            left: -58px;
            position: absolute;
            transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform-origin: left top 0;
        }

        .attribute {
            font-size: 16px;
        }

        .package .title {
            font-size: 20px;
            font-weight: 800;
            line-height: 24px;
            margin-top: 12px;
        }

        .package .subtitle {
            font-size: 18px;
            font-weight: bold;
            margin-top: 12px;
        }

        .phone-numbers {
            font-weight: bold;
            margin-top: 0;
            float: right;
        }

        .phone-numbers .title {
            display: block;
            float: left;
            margin-top: 6px;
        }
        .phone-numbers .title:after {
            content: '';
            display: block;
            clear: both;
            float: left;
        }
        .phone-numbers .number:after {
            content: '';
            display: block;
            clear: both;
            float: left;
        }


        .phone-numbers .title .line-break {
            margin-bottom: 15px;
        }

        .phone-numbers .number .clear {
            margin-bottom: 22px;
        }

        .phone-numbers .number {
            display: block;
            float: right;
            margin-top: 6px;
        }

        .footer {
            border-bottom: 5px solid #000;
            border-top: 5px solid #000;
            font-size: 20px;
            margin-top: 20px;
            padding: 12px 0;
            text-align: center;
        }

        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
<div class="container">
    <!-- header image -->
    <div class="header">
        <img src="/app/derive/src/Gnp/Orders/View/voucher/voucher.jpg"/>
    </div>
    <div class="body">
        <!-- left column -->
        <div class="left-column">
            <div class="basic-info">
                <p><b>HARD ISLAND FESTIVAL 2015</b></p>
                <p><b>5.-8. July 2016</b></p>
                <p><b>Kalypso Klub, Zrce beach, Croatia</b></p>
                <p>Issued by: <b>GoNParty</b></p>

                <div class="gap"></div>

                <p>Order No: <b>{{ order.num }}</b></p>
                <p>Client Name: <b>{{ order.user.name ~ ' ' ~ order.user.surname }}</b></p>
                <p>Price: <b>{{ order.price }} €</b></p>

                <div class="gap"></div>
            </div>

            <div class="line-break"></div>

            <div class="schedule">
                <div class="title">FESTIVAL SCHEDULE</div>

                <div class="day-container">
                    <p class="day">TUESDAY</p>
                    <div class="description">Festival</div>
                    <div class="time">15 - 20 <span>and</span> 22 - 6</div>
                    <div class="clear"></div>
                </div>
                <div class="day-container">
                    <p class="day">WEDNESDAY</p>
                    <div class="description">Festival</div>
                    <div class="time">15 - 20 <span>and</span> 22 - 6</div>
                    <div class="clear"></div>
                    <div class="description">Raw the boat</div>
                    <div class="time">14 - 17:30</div>
                    <div class="clear"></div>
                    <div class="description">Dirty Workz Sunset Cruise</div>
                    <div class="time">18 - 21:30</div>
                    <div class="clear"></div>
                </div>
                <div class="day-container">
                    <p class="day">THURSDAY</p>
                    <div class="description">Festival</div>
                    <div class="time">15 - 20 <span>and</span> 22 - 6</div>
                    <div class="clear"></div>
                    <div class="description">KTRA Cruise</div>
                    <div class="time">14 - 17:30</div>
                    <div class="clear"></div>
                    <div class="description">Hardcore Italia Pirate Cruise</div>
                    <div class="time">18 - 21:30</div>
                    <div class="clear"></div>
                </div>
                <div class="day-container">
                    <p class="day">FRIDAY</p>
                    <div class="description">Festival</div>
                    <div class="time">17 - end</div>
                    <div class="clear"></div>
                    <div class="description">Hard Island Cruise</div>
                    <div class="time">17 - 21</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!-- right column -->
        <div class="right-column">
            <div class="voucher-id-box">
                <div class="vertical-title">VOUCHER ID</div>
                <div class="code">{{ order.getVoucherId() }}</div>
            </div>
            <div class="package">
                <div class="title">{{ order.offer.title | raw }}</div>
            </div>
            <div class="package">
                <div class="title">{{ order.getPacketsSummary() | raw }}</div>
                <div class="subtitle">{{ order.getAdditionsSummary() | raw }}</div>
            </div>
            <br />
            {% if order.appartment.value%}
                <div class="attribute">
                    Check-in: <br />{{ order.checkin.value }}
                </div>
            {% endif %}
            {% if order.appartment.value %}
                <div class="attribute">
                    {{ order.appartment.value }}
                </div>
            {% endif %}
            {% if order.checkin.value %}
                <div class="attribute">
                    {{ order.people.value }}
                </div>
            {% endif %}
        </div>
        <div class="clear"></div>

        <div class="left-column">
            <div class="line-break"></div>

            <div class="small-info">
                <b>Minimum age:</b> The minimum age requirement for this event is 18+ with exception of everyone who will celebrate their 18th birthday in 2016, but not before Hard Island Festival.
            </div>
            <div class="small-info">
                <b>Attention:</b> Every voucher has an ID code unique to the client booking number. Do not try to copy this ticket, each combination can be used only once. Regarding questions write us at  <strong
                        class="link">info@hardisland.com.</strong>
            </div>
            <div class="small-info">
                <b>Terms and conditions:</b><br/>
                www.hardisland.com/tandc
            </div>
            <div class="small-info">
                <b>Frequently asked question</b><br />
                www.hardisland.com/faq
            </div>
        </div>
        <div class="right-column">
            <div class="small-info phone-numbers">
                <div class="line-break"></div>
                <div class="title">General & Accommodation<br />(every day 10 am - 8 pm)</div>
                <div class="number">+385 958 874 814</div>
                <div class="clear"></div>
                <div class="title">Assistance 24/7 <br />(urgent matters only)</div>
                <div class="number">+385 911 614 624</div>
                <div class="clear"></div>
                <div class="title">Ambulance 24/7 <br />(medical emergency only)</div>
                <div class="number">112</div>
                <div class="clear"></div>
                <p><b>PRINT YOUR VOUCHER</b> (or SAVE IT on your smartphone to quickly find it and open offline)!</p>
            </div>
        </div>

        <div class="clear"></div>

        <div class="footer">
            READ ALL INFO: <b>WWW.HARDISLAND.COM/INFOBOOK</b><br />
        </div>
        <div style="font-size: 15px; text-align: center; margin-top: 20px; ">PLEASE SCROLL DOWN AND READ INSTRUCTIONS ON THE NEXT PAGE</div>
        <div style="page-break-before:always; padding-bottom: 40px;"></div>
        <div class="clear"></div>

        {% if order.ordersUsers.first().packet.voucherTab %}
            <div>
                {{ order.ordersUsers.first().packet.voucherTab.title | raw }}
                {{ order.ordersUsers.first().packet.voucherTab.content | raw }}
                <div style="page-break-before:always; padding-bottom: 40px;"></div>
                <img src="http://hi.gonparty.eu/media/{{ order.ordersUsers.first().packet.voucherTab.picture | raw }}" />
            </div>
        {% endif %}
    </div>
</body>
</html>
