<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Sites / Apache</h3>
                <p>...</p>
                <p>
                    <a href="{{ url('apache.list') }}" class="btn btn-primary" role="button">Show sites</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Database / MySQL</h3>
                <p>...</p>
                <p>
                    <a href="{{ url('database.list') }}" class="btn btn-primary" role="button">Show databases</a>
                    <a href="{{ url('database.list') }}" class="btn btn-primary" role="button">Show database users</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>FTP / vsftpd</h3>
                <p>...</p>
                <p>
                    <a href="{{ url('ftp.list') }}" class="btn btn-primary" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Server status</h3>
                <p>...</p>
                <a href="{{ url('status.list') }}" class="btn btn-primary" role="button">Button</a>
            </div>
        </div>
    </div>
</div>