<h1>{{ offer.title }}</h1>

<h2 class="border-b">
    {{ __('orders_instructions_heading') }}
    <span class="step">{{ __('step_two') }}</span>
    <div class="clearfix"></div>
</h2>

<p class="instructions">{{ __('order_instructions') }}</p>

<form method="post" action="{{ url('predracun') }}" id="orderform" autocomplete="off">
    <input type="hidden" value="{{ offer.id }}" name="offer_id" id="offer_id"/>
    <h3 class="font-secondary square-left border-b">{{ __('heading_payee') }}</h3>

    <div v-for="(hash,customer) in customers" v-bind:id="$index == 0 ? 'payee' : 'customers'"
         v-bind:class="[$index == 1 && orderType == 'simple' ? 'hidden' : '']">
        <h3 v-if="$index == 1"
            class="font-secondary square-left border-b">{{ __('heading_choose_packets_friend') }}</h3>

        <div class="of-box">
            <div id="customer" class="row customer" v-bind:data-hash="hash">
                <!-- PACKET INFO -->
                <div class="col-sm-4 packet-info">
                    <h3 v-if="$index == 0" class="font-secondary">{{ __('heading_choose_packet_payee') }}</h3>
                    <h3 v-if="$index > 0" class="font-secondary">{{ __('heading_choose_packet_friend') }}</h3>
                    {% verbatim %}
                    <select v-bind:name="'order[' + hash + '][packet_id]'"
                        v-bind:id="'packet_id_' + hash"
                        v-model="customer.packet.id"
                        class="orderPacket">
                        <option v-for="packets" v-bind:value="packet.id">{{ packet.title }}</option>
                    </select>
                    {% endverbatim %}

                    <h4>
                        <template v-if="orderType == 'simple'">{{ customers | length }}x</template>
                        {{ '{{ customer.packet.title }}' }}
                    </h4>
                    {% verbatim %}
                    <ul class="list-unstyled includes" v-bind:id="'orderIncludes_' + hash">
                        <li v-for="include in customer.includes">
                            <div class="the-cloud">
                                <div v-if="formType == 'simple'">{{ customers.length }}x</div>
                                {{ include.title }}
                                <span v-if="include.description" class="tooltip-questionmark"
                                      title="{{ include.description }}"
                                      data-toggle="tooltip">?</span>
                            </div>
                        </li>
                    </ul>
                    {% endverbatim %}
                    <div class="basis">{{ __('packet_without_additions') }}
                        <span v-if="orderType == 'complex'">
                            {{ '{{ customer.payment | raw }}' }}
                            </span>
                        <span v-if="orderType == 'simple">
                                    {{ '{{ form.payment | raw }}' }}
                            </span>
                    </div>
                </div>
                <!-- USER INFO -->
                <div class="col-sm-4 user-info">
                    <h3 v-if="$index == 0" class="font-secondary">{{ __('heading_personal_info') }}</h3>
                    <h3 v-if="$index > 0" class="font-secondary">{{ __('heading_friend_personal_info') }}</h3>
                    <template v-if="$index == 0">
                        <div class="the-cloud" data-cloud-descr="{{ __('placeholder_real_email') }}"
                             data-cloud-type="input">
                            <input class="payeeEmail" type="email" id="email"
                                   placeholder="{{ __('placeholder_real_email') }}"
                                   v-model="customer.email"
                                   data-validation-engine="validate[required,custom[email]]"/>
                        </div>
                        <div class="the-cloud" data-cloud-descr="{{ __('placeholder_name') }}"
                             data-cloud-type="input">
                            <input type="text"
                                   placeholder="{{ __('placeholder_name') }}"
                                   v-model="customer.name"
                                   data-validation-engine="validate[required]"/>
                        </div>
                        <div class="the-cloud" data-cloud-descr="{{ __('placeholder_surname') }}"
                             data-cloud-type="input">
                            <input type="text"
                                   placeholder="{{ __('placeholder_surname') }}"
                                   v-model="customer.surname"
                                   data-validation-engine="validate[required]"/>
                        </div>
                        <div class="the-cloud" data-cloud-descr="{{ __('placeholder_phone') }}"
                             data-cloud-type="input">
                            <input type="tel"
                                   placeholder="{{ __('placeholder_phone') }}"
                                   v-model="customer.phone"
                                   data-validation-engine="validate[required]"/>
                        </div>
                        <!-- NOTES -->
                        <div class="inline-notes">
                        <textarea name="order[{{ payee }}][notes]"
                                  placeholder="{{ __('placeholder_notes') }}"></textarea>
                        </div>
                    </template>
                    <template v-if="$index > 0">
                        <div class="the-cloud">
                            <input type="text"
                                   placeholder="{{ __('placeholder_real_email') }}" class="customerEmail"
                                   data-validation-engine="validate[custom[email]]"
                                   id="email{{ hash }}"
                                   v-model="customer.email"/>
                            <div class="field-note">{{ __('order_form_email_not_required') }}</div>
                        </div>
                        <div class="the-cloud">
                            <input type="text"
                                   placeholder="{{ __('placeholder_name') }}"
                                   v-model="customer.name"
                                   v-bind:data-validation-engine="orderType == 'complex' ? 'validate[required]' : ''"/>
                        </div>
                        <div class="the-cloud">
                            <input type="text"
                                   v-model="customer.surname"
                                   placeholder="{{ __('placeholder_surname') }}"/>
                        </div>
                        <!-- NOTES -->
                        <div v-if="orderType == 'complex'" class="inline-notes">
                                <textarea v-model="customer.notes"
                                          placeholder="{{ __('placeholder_notes') }}"></textarea>
                        </div>
                    </template>
                </div>
                <div class="col-sm-4">
                    <!-- DEPARTURE -->
                    <div class="departure">
                        <div class="inline-departure">
                            <h3 class="font-secondary">{{ __('heading_department') }}</h3>
                            {% verbatim %}
                            <ul v-if="customer.departments.length > 0" class="list-unstyled customRC"
                                v-bind:id="'orderDepartments_' + hash">
                                <li v-for="department in customer.departments">
                                    <input type="radio"
                                           v-model="customer.department_id"
                                           v-bind:id="'department_' + hash + '_' + department.id"
                                           v-bind:value="department.id"
                                           v-bind:name="'order[' + hash + '][department_id]'"
                                           v-bind:data-value="department.pivot.fee"
                                           data-validation-engine="validate[required]"/>
                                    <label v-bind:for="'department_' + hash + '_' + department.id">
                                        {{ department.title }}
                                        <span v-if="department.pivot.fee > 0"><nobr>{{ department.pivot.fee }} €</nobr></span>
                                    </label>
                                </li>
                            </ul>
                            {% endverbatim %}
                            <div v-if="customer.departments.length == 0"
                                 class="subtle">{{ __('no_packet_options_available') }}</div>
                        </div>
                    </div>
                    <!-- ADDITIONS -->
                    <div class="additions">
                        <h3 class="font-secondary">{{ __('heading_additions') }}</h3>
                        {% verbatim %}
                        <ul v-if="customer.additions.length > 0" class="list-unstyled customRC"
                            v-bind:id="'orderAdditions_' + hash">
                            <li v-for="addition in customer.additions">
                                    <nobr v-if="addition.value > 0"><span class="price">{{ addition.value }} €</span></nobr>
                                <span v-if="addition.description" class="tooltip-questionmark"
                                                                    v-bind:title="addition.description"
                                                                    data-toggle="tooltip">?</span>
                                <input class="ordersUserAddition"
                                       type="checkbox"
                                       v-model="addition.checked"
                                       v-bind:id="'addition_' + hash + '_' + addition.id"
                                       v-bind:value="addition.id"
                                       v-bind:data-value="addition.value" />
                                <label v-bind:for="'addition_' + hash + '_' + addition.id">{{ addition.title }}</label>
                            </li>
                        </ul>
                        {% endverbatim %}
                        <div v-if="customer.additions.length == 0"
                             class="subtle">{{ __('no_packet_additions_available') }}</div>
                    </div>
                    <!-- DEDUCTIONS -->
                    <div class="additions deductions">
                        <h3 class="font-secondary">{{ __('heading_deductions') }}</h3>
                        {% verbatim %}
                        <ul v-if="customer.deductions.length > 0" class="list-unstyled customRC"
                            v-bind:id="'orderDeductions_' + hash">
                                <li v-for="deduction in customer.deductions">
                                        <nobr v-if="deduction.value > 0"><span class="price">{{ deduction.value }} €</span></nobr>
                                    <span v-if="deduction.description" class="tooltip-questionmark"
                                                                         v-bind:title="deduction.description"
                                                                         data-toggle="tooltip">?</span>
                                    <input class="ordersUserDeduction"
                                           type="checkbox"
                                           v-model="deduction.checked"
                                           v-bind:id="'deduction_' + hash + '_' + deduction.id"
                                           v-bind:value="deduction.id"
                                           v-bind:data-value="deduction.value" />
                                    <label v-bind:for="'addition_' + hash + '_' + deduction.id">{{ deduction.title }}</label>
                                </li>
                        </ul>
                        {% endverbatim %}
                        <div v-if="!customer.deductions.length"
                             class="subtle">{{ __('no_packet_deductions_available') }}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 user-sum">
                    {{ __('sum_packet_additions') }}:
                    <nobr><span v-bind:id="'payment_' + hash">{{ '{{ getCustomerSummary(customer) | price }}' }}</span>
                    </nobr>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="promo-code">
        <label for="promocode">{{ __('label_promo_code') }}</label>
        <div class="input-wrap">
            <input type="text" id="promocode"
                   placeholder="{{ __('placeholder_enter_promo_code') }}"
                v-model="promocode" />
        </div>
        <a class="promocode-submit" v-on:click.prevent="applyPromoCode">{{ __('btn_apply_promo_code') }}</a>
        <div class="promo-code-notice">{{ '{{ promoCodeNotice }}' }}</div>
    </div>

    <div class="sum-all">
        {{ __('sum_packets_additions') }} <span id="payment">{{ '{{ getSummary() | price }}' }}</span>
    <div v-if="getSummary() != getFinalSummary()">{{ __('final_sum_to_pay') }} <span id="payment2">{{ '{{ getFinalSummary() | price }}' }}</span></div>
        {% if offer.getMaxPortions() > 1 %}
            <p class="portions">{{ offer.getMaxPortions() ~ ' ' ~ __('order_form_max_portions') }}</p>
        {% endif %}
    </div>
    <div class="submit-button">
        <input type="button" id="btnSubmitOrder" value="{{ __('btn_go_to_estimate') }}" class="button medium"
               v-on:click.prevent="submitOrderForm"/>
    </div>
</form>
