<!DOCTYPE html>
<html>
<head>
    {{ _seoManager | raw }}

    {{ _metaManager | raw }}

    {{ _assetManager.getMeta(['css', 'js'], ['libraries', 'main']) | raw }}

    {{ _assetManager.getGoogleFonts() | raw }}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Impero</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domains <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/apache/sites">Sites</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FTP <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/ftp/accounts">FTP accounts</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MySQL <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/mysql/databases">Databases</a></li>
                        <li><a href="/dev.php/mysql/users">Users</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/status/mysql">MySQL</a></li>
                        <li><a href="/dev.php/status/apache">Users</a></li>
                        <li><a href="/dev.php/status/ftp">FTP</a></li>
                        <li><a href="/dev.php/status/usage">Usage</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Generic <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/admin/generic/actions">Actions</a></li>
                        <li><a href="/dev.php/admin/generic/layouts">Layouts</a></li>
                        <li><a href="/dev.php/admin/generic/routes">Routes</a></li>
                        <li><a href="/dev.php/admin/generic/variables">Variables</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dynamic <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/dynamic/tables/list/7">Tables</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as {{ _auth.user('email') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/help">Help</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block content %}{{ content | raw }}{% endblock %}
</div>

{{ _assetManager.getMeta(['css', 'js'], ['footer']) | raw }}

</body>
</html>