<!DOCTYPE html>
<html>
<head>
    {{ _seoManager | raw }}

    {{ _metaManager | raw }}

    {{ _assetManager.getMeta(['css', 'js'], ['libraries', 'main']) | raw }}

    {{ _assetManager.getGoogleFonts() | raw }}
</head>
<body>

<div class="container">
    {% block content %}{{ content | raw }}{% endblock %}
</div>

{{ _assetManager.getMeta(['css', 'js'], ['footer']) | raw }}

</body>
</html>