<!DOCTYPE html>
<html>
<head>
    {{ _seoManager | raw }}

    {{ _metaManager | raw }}

    {{ _assetManager.getMeta(['css', 'js'], ['libraries', 'main']) | raw }}

    {{ _assetManager.getGoogleFonts() | raw }}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domains <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/apache">Sites</a></li>
                        <li><a href="/dev.php/dns">DNS</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Apache status</a></li>
                        <li><a href="#">DNS status</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FTP <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/ftp">FTP accounts</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">FTP status</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MySQL <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dev.php/mysql/database">Databases</a></li>
                        <li><a href="/dev.php/mysql/user">Users</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Database status</a></li>
                    </ul>
                </li>
                <li><a href="/dev.php/mail">Mail</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as Bojan Rajh <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Logout</a></li>
                        <li><a href="#">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block content %}{{ content | raw }}{% endblock %}
</div>

{{ _assetManager.getMeta(['css', 'js'], ['footer']) | raw }}

</body>
</html>