{% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'fursModal'} %}
    {% block header %}
        Confirm bills on FURS
    {% endblock %}
    {% block body %}
        <table class="table table-stripped table-condensed">
            <tr>
                <th>ID</th>
                <th>Num</th>
                <th>Original</th>
                <th>Price</th>
                <th>Total</th>
                <th>Payed</th>
            </tr>
            {% verbatim %}
            <tr v-for="order in orders" :class="{ 'danger': order.price != order.bills_total || order.price != order.bills_payed, 'info': order.furs_confirmed_at }">
                <td>{{ order.id }}</td>
                <td>{{ order.num }}</td>
                <td>{{ order.original }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.bills_total }}</td>
                <td>{{ order.bills_payed }}</td>
            </tr>
            {% endverbatim %}
        </table>
        <button class="btn btn-success" v-on:click="requestConfirmation">Confirm all orders on FURS?</button>
    {% endblock %}
{% endembed %}

<script type="text/javascript">
    new Vue({
        parent: maestroTable,
        el: '#fursModal',
        data: function () {
            return {
                orders: []
            };
        },
        methods: {
            openFursPopup: function () {
                $('#fursModal').modal('show');
            },
            requestConfirmation: function () {
                http.post('/dev.php/orders/furs/request-confirmation', {
                    orders: this.orders.map(function (order) {
                        return order.id;
                    })
                }, function () {
                    data.$root.openModal({
                        dismissable: true,
                        id: 'modal-furs-success',
                        header: 'Success',
                        body: 'Confirmation successfully requested.',
                        style: 'success',
                        visible: true
                    });
                }.bind(this), function () {
                    data.$root.openModal({
                        dismissable: true,
                        id: 'modal-furs-error',
                        header: 'Error',
                        body: 'Error requesting confirmation.',
                        style: 'danger',
                        visible: true
                    });
                });
            }
        }
    }).$on('record:openFursPopup', function (id, record) {
        this.orders = [record];
        this.openFursPopup();

        return true;
    }).$on('entity:openFursPopup', function (ids, records) {
        this.orders = records;
        this.openFursPopup();

        return true;
    });
</script>