<section class="container offers-list">
    <a class="title" href="/offers">
        <h1>{{ __('homepage_title_offers') }}</h1>
    </a>
    <div class="row">
        {% for offer in offers %}
            <!-- big offers are 1 in a row, medium offers are 2 in a row -->
            <!-- single offer box -->
            {% if loop.index > 1 %}
                <div class="col-xs-12{% if loop.index > 3 %} col-sm-6{% endif %}">
                    <article class="offer row">
                        <!-- image box -->
                        <div class="{% if loop.index > 5 %}col-sm-9 {% endif %}col-xs-12 image-outer-box">
                            <a href="{{ offer.url }}">
                                <img class="img-responsive" src="{{ offer.image }}" />
                            </a>
                        </div>
                        <!-- /image box -->

                        <!-- information box next to the image -->
                        <a class="{% if loop.index > 5 %}col-sm-5 col-sm-offset-7{% endif %} col-xs-10 col-xs-offset-1 info-outer-box" href="{{ offer.url }}">
                            <div class="info-inner-box">
                                <header>
                                    <h1>{{ offer.title }}</h1>
                                    {% if offer.subtitle %}<h2>{{ offer.subtitle }}</h2>{% endif %}
                                </header>
                                <p class="location">{{ offer.location }}</p>
                                <p class="time">{{ offer.date }}</p>
                                <div class="bottom">
                                    <button class="button">{{ __('btn_go') }}</button>
                                    <p class="pickup-line visible-lg{% if loop.index < 5 %} hidden{% endif %}">{{ offer.pickup_line }}</p>
                                    <div class="clearfix"></div>
                                </div>
                                {% if offer.price != 0 %}
                                    <div class="price-tag">
                                        {{ __('price_from') }} <strong>{{ offer.price }}€</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        <!-- /information box next to the image -->

                        <div class="clearfix"></div>
                    </article>
                </div>
                <!-- list of small offers with categories -->
            {% else %}
                {% if loop.index == 1 %}
                    <div class="spacing-top hidden-xs"></div>
                    <div class="col-lg-5 col-sm-4 offer-category first active" data-catid="{{ offer.category_id }}">
                        <h3>{{ offer.category.title }}</h3>
                    </div>
                {% elseif offer.category_id %}
                    <div class="col-lg-5 col-sm-4 offer-category inactive" data-catid="{{ offer.category_id }}">
                        <h3>{{ offer.category.title }}</h3>
                    </div>
                    <div class="col-lg-7 col-sm-8 offer-category seperator-line hidden-xs">
                        <div></div>
                    </div>
                    <div class="clearfix catheader hidden-xs"></div>
                {% endif %}
                <div class="col-lg-7 col-sm-8{% if loop.index > 1 %} col-lg-offset-5 col-sm-offset-4{% endif %}">
                    <article class="row offer {% if loop.index > 4 %}small{% elseif loop.index > 2 %}medium{% else %}large{% endif %}">
                        <a href="{{ offer.url }}">
                            <div class="info-inner-box">
                                <div class="col-xs-3">
                                    {% if offer.price != 0 %}
                                        <div class="price-tag">
                                            {{ __('price_from') }} <strong>{{ offer.price }}€</strong>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6 col-xs-9 move">
                                    <header>
                                        <h1>{{ offer.title }}</h1>
                                        <h2>{{ offer.subtitle }}</h2>
                                    </header>
                                    <p class="location">{{ offer.location }}</p>
                                    <p class="time">{{ offer.date }}</p>
                                </div>
                                <div class="col-sm-3 col-sm-offset-0 col-xs-9 col-xs-offset-3 bottom">
                                    <button class="button">{{ __('btn_go') }}</button>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            {% endif %}
            <!-- clear row if there are 2 in row and it's the second column already -->
            {% if loop.index == 1 or loop.index == 3 %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </div>
</section>